* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #fe6430;
  --text-color: #707071;
  --header-height: 80px;
}
html {
  font-family: "Open Sans", sans-serif;
}
body {
  background-image: url(../img/img-home/bg.png);
  z-index: -100;
}
.btn-me {
  background-color: var(--primary-color);
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 8px 32px;
  border-radius: 25px;
  border: none;
  transition: all 0.5s ease;
  box-shadow: 0 0 10px rgba(254, 100, 48, 0.4);
}
.btn-me:hover {
  filter: brightness(130%);
  color: #fff;
}
/* header */
header {
  height: var(--header-height);
}
.line-space {
  position: absolute;
  top: 5px;
  right: 0px;
  bottom: 5px;
  width: 1px;
  background-color: #fe6430;
}
.header-cart a {
  color: var(--text-color);
  font-size: 20px;
  transition: all 0.3s ease;
}
.header-user {
  color: var(--text-color);
  font-size: 20px;
  transition: all 0.3s ease;
}
.header-user-toggle {
  background-color: #faf6f1;
  list-style: none;
  box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.2);
  width: 200px;
  top: 60px;
  right: -16px;
  padding: 14px 16px;
  border-radius: 15px;
  display: none;
}
.header-user-toggle a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  display: block;
}
.header-user-toggle::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -45px;
  right: 10px;
  border-width: 28px 15px;
  border-style: solid;
  border-color: transparent transparent #faf6f1 transparent;
}
.header-user-toggle a:hover,
.header-cart a:hover,
.header-user:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.header-phone_icon {
  background-color: #fff;
  color: var(--primary-color);
  border-radius: 50%;
  padding: 4px 8px;
}
/* banner */
#img-slider {
  z-index: -1;
}
.product_img {
  min-height: 150px;
  object-fit: cover;
}
.product-text-content {
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.product-text-content .product-nav a {
  text-decoration: none;
  color: #acaba7;
}

.product-text-content .product-text-heading {
  font-size: 30px;
}

.product-nav span {
  color: #acaba7;
}
/* sign up content */
.signUp-content {
  max-width: 500px;
}
.signUp-content h2 {
  color: var(--text-color);
  font-weight: 600;
}
.signUp-content-about_input {
  width: 100%;
  font-size: 14px;
  padding: 10px 16px;
  background-color: #faf6f1;
  border: none;
  border-radius: 5px;
  outline: none;
  color: var(--text-color);
  margin-top: 18px;
}
/* footer */
footer {
  background: url(./img/img_footer/base.png);
  background-size: cover;
}
.footer-mail {
  background-color: #ffbc3e;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 15px;
  padding: 24px 32px;
  color: #fff;
}
.footer-mail_sub i {
  font-size: 36px;
}
.footer-mail_send {
  border-bottom: 1px solid #ffc965;
}
.footer-mail_send_input {
  background-color: transparent;
  width: 90%;
  font-size: 14px;
  color: #fff;
  border: none;
  outline: none;
}
.footer-mail_send_btn {
  color: #fff;
  background-color: transparent;
  transition: all 0.3s ease;
}
.footer-mail_send_btn:hover {
  color: #222222;
}
.footer-mail_send_input::placeholder {
  color: rgb(240, 238, 238);
}
.footer-main {
  padding-top: 160px;
  padding-bottom: 40px;
}
.footer-main-social_icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #000000;
  color: #fff;
  line-height: 35px;
  margin-right: 8px;
  transition: all 0.3s ease;
}
.footer-main-links_link,
.footer-main-social_sub {
  color: var(--text-color);
  font-size: 14px;
  transition: all 0.3s ease;
}
.footer-main-links_link:hover,
.footer-main-social_icon:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.footer-main-link_item {
  list-style: none;
}
.footer-main-contact_icon {
  color: var(--primary-color);
  font-size: 14px;
}
